---
import { getS3Versions } from "../../lib/artifacts";
import { Content } from "../../components/signatureVerification.md";
import Document from "../../layouts/Document.astro";
import Markdown from "../../components/Markdown.astro";

export async function getStaticPaths() {
  const versions = await getS3Versions();
  return versions.map((version) => ({
    params: { version },
  }));
}

const { version } = Astro.params;
---

<Document>
  <div class="mb-6">
    <a class="text-2xl" href={`/${version}`}>../</a>
  </div>
  <Markdown>
    <Content />
  </Markdown>
</Document>
