---
import { getS3Versions } from "../lib/artifacts.ts";
import Files from "../layouts/Files.astro";

const versions = await getS3Versions();
---

<Files>
  <ul>
    {
      versions.map((v) => (
        <li>
          <a href={`/${v}/`}>{v}/</a>
        </li>
      ))
    }
  </ul>
</Files>
