---
import { getGhafReleases } from "../lib/artifacts.ts";
import Files from "../layouts/Files.astro";

const releases = await getGhafReleases();
const keys = ["himalia.pub", "ganymede.pub", "themisto.pub"];
---

<Files title="Ghaf Archive">
  <div class="border-solid border-2 rounded-md p-4">
    <h2>Releases</h2>
    <ul>
      {
        releases.map((version) => (
          <li>
            <a href={`/${version}/`}>{version}</a>
          </li>
        ))
      }
    </ul>
  </div>
  <div class="border-solid border-2 rounded-md p-4 mt-8">
    <h2 class="">Signing keys</h2>
    <ul>
      {
        keys.map((key) => (
          <li>
            <a href={`/keys/${key}`}>{key}</a>
          </li>
        ))
      }
    </ul>
  </div>
</Files>
