---
import { getGhafReleases } from "../lib/artifacts.ts";
import Files from "../layouts/Files.astro";

const releases = await getGhafReleases();
---

<Files title="Ghaf Archive">
  <div class="border-solid border-2 rounded-md p-4">
    <h2>Releases</h2>
    <ul>
      {
        releases.map((version) => (
          <li>
            <a href={`/${version}/`}>{version}</a>
          </li>
        ))
      }
    </ul>
  </div>
</Files>
