---
import "../styles/global.css";
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>Ghaf Archive</title>
  </head>
  <body class="font-mono w-screen flex flex-col min-h-screen justify-between">
    <div>
      <slot />
    </div>
    <footer class="w-screen items-end my-5">
      <p class="text-sm m-auto text-center">
        Copyright 2022-2025 TII (SSRC) and the Ghaf contributors
      </p>
    </footer>
  </body>
</html>
