---
import Base from "./Base.astro";

const { frontmatter } = Astro.props;
---

<Base title={frontmatter.title}>
  <div class="w-5xl m-auto mt-8">
    <div class="prose prose-invert max-w-full">
      <slot />
    </div>
  </div>
</Base>
