---
import Base from "./Base.astro";
import Markdown from "../components/Markdown.astro";

const { frontmatter } = Astro.props;
---

<Base title={frontmatter.title}>
  <div class="w-5xl m-auto mt-8">
    <Markdown>
      <slot />
    </Markdown>
  </div>
</Base>
