name: Checks

on:
  push:
    branches: [main]
  pull_request:

permissions:
  contents: read

jobs:
  check:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v6

      - name: Setup Node
        uses: actions/setup-node@v6
        with:
          # should match the node version we have in the flake devshell
          node-version: 22

      - name: Install dependencies
        run: npm ci --include=dev

      - name: Astro check
        run: npm run check

      - name: Prettier check
        run: npx prettier . --check
